<div ng-controller="UserController as ctrl">
    <div style="margin: 10px;">
        <h2 style="color:#285e8e">Details for {{ctrl.user.first}}</h2>
        <label>First Name</label> <p>{{ctrl.user.first}}</p>
        <label>Last Name</label> <p>{{ctrl.user.last}}</p>
        <label>Street</label> <p>{{ctrl.user.street}}</p>
        <label>City</label> <p>{{ctrl.user.city}}</p>
        <label>Zip</label> <p>{{ctrl.user.zip}}</p>
        <label>Email</label> <p>{{ctrl.user.email}}</p>
        <label>Birth Date</label> <p>{{ctrl.user.dob}}</p>
        <label>Phone</label> <p>{{ctrl.user.phone}}</p>
    </div>
</div>